
<div class="card-panel red lighten-4">
  <h5 class="red-text">403 - Acceso denegado</h5>
  <p>No tienes permisos para acceder a esta página.</p>
  <a href="/" class="btn teal">Ir al inicio</a>
</div>
