<div class="container center-align" style="margin-top: 10%;">
  <i class="material-icons large red-text text-darken-2">block</i>
  <h4 class="red-text text-darken-2">403 - Acceso denegado</h4>
  <p>No tienes permiso para acceder a esta página.</p>
  <br>
  <a href="/signIn" class="btn red lighten-1 waves-effect waves-light">
    <i class="material-icons left">login</i> Iniciar sesión
  </a>
</div>

