

<div class="card-panel orange lighten-4">
  <h5 class="orange-text">404 - Página no encontrada</h5>
  <p>La ruta solicitada no existe.</p>
  <a href="/" class="btn teal">Ir al inicio</a>
</div>
