<div class="center-align">
  <h4>Bienvenido a AuthLab</h4>
  <p>Proyecto de autenticación con JWT, Express, MongoDB, EJS y Materialize.</p>
  <a href="/signIn" class="btn teal">Iniciar Sesión</a>
  <a href="/signUp" class="btn teal">Registrarse</a>
</div>
