<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">AuthApp</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/signIn">Login</a></li>
      <li><a href="/signUp">Registro</a></li>
    </ul>
  </div>
</nav>
